<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1054958548231-7p50pgtglodplkoed4kartsthlf5qhca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1054958548231-7p50pgtglodplkoed4kartsthlf5qhca</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1054958548231-fhvc2ake18hegkuoeecikaqhags411rq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBCHIqwIFO7Xo_H1gZ7CEmmRc6sTDo77No</string>
	<key>GCM_SENDER_ID</key>
	<string>1054958548231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.astroma</string>
	<key>PROJECT_ID</key>
	<string>astroma-52d87</string>
	<key>STORAGE_BUCKET</key>
	<string>astroma-52d87.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1054958548231:ios:f7c341903cc7f01e97c1a2</string>
</dict>
</plist>